/* You can add global styles to this file, and also import other style files */
.flex-c{
  display: flex;
  flex: 1;
  gap: 5px;
  flex-wrap: wrap;
}

.flex-column{
  display: flex;
  flex: 1;
  gap: 5px;
flex-direction: column;
  align-items: center;

}
